footer {
  background-color: black;
  font-family: "Archivo", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0.5rem;
}

.copy-right {
  font-weight: 300;
  font-size: 16px;
}

.contact-info {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.contact-info p {
  font-weight: 400;
  font-size: 19px;
  padding: 2rem;
}
