.hero-section {
  position: relative;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.background-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url("../assets/images/hero-hotel-image.webp");
  background-size: cover;
  background-position: center; */
  background-color: #e4e4e4;
  opacity: 0.9; /* Ajusta la opacidad de la imagen */
  z-index: -1;
}

.hero-item {
  position: relative; /* Relativo al contenedor para asegurar que el texto se superponga */
  padding: 2rem 1rem; /* Espacio interno alrededor del texto */
  margin: 2.5rem;
}

.hero-item p {
  font-family: "Playfair Display", sans-serif;
  font-size: 40px;
  color: #3b38ad;
  opacity: 1;
}

.hero-item h1 {
  font-family: "Playfair Display", sans-serif;
  font-size: 120px;
  font-weight: 600;
  line-height: 130px;
  color: #3b38ad; /* Color del texto */
  text-align: left;
  opacity: 1;
}

@media (width < 768px) {
  .hero-item p {
    font-size: 28px;
  }

  .hero-item h1 {
    font-size: 80px;
    line-height: 90px;
  }
}
