#info {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: white;
}

.info-text {
  text-align: left;
  padding: 2rem;
  margin: 3rem;
  width: 600px;
  color: #3b38ad;
  border: 2px solid;
}

.info-text h2 {
  font-family: "Playfair Display";
  font-size: 70px;
  font-weight: 500;
  line-height: 60px;
  margin-bottom: 1.5rem;
  color: #3b38ad;
}

.info-text p {
  font-family: "Lato";
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
}

.info-text .read-more-button {
  text-align: center;
  background-color: #3b38ad;
  padding: 1rem;
  transition: all 0.2s ease;
}

.read-more-button:hover {
  transform: translateY(5px);
}

.read-more-button button {
  display: inline-block;
  border: none;
  background-color: transparent;
  color: white;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 400;
}

@media (width < 768px) {
  #info {
    justify-content: center;
  }

  .info-text {
    margin: 2rem;
    padding: 2rem;
  }
}

/* todo: Agregar media query para pantallas con una ancho mejor a 1200px*/
