nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0.6rem 1.8rem;
  border-bottom: 2px solid #3b38ad;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.logo-text {
  font-weight: 700;
  font-size: 34px;
  line-height: 45px;
  text-decoration: none;
  font-family: "Playfair Display", Georgia, serif;
  color: #3b38ad;
}

@media (hover: hover) {
  .logo-text:hover {
    text-decoration: underline;
    transition: all 0.3 ease;
  }
}

.menu-svg {
  display: none;
  background: none;
  border: none;
  color: none;
  cursor: pointer;
}

.close-icon {
  display: none;
}

.links-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 0.2rem;
}

.link-item a {
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #3b38ad;
  opacity: 0.9;
  text-decoration: none;
  padding: 0.5rem;
}

.link-item a:hover {
  text-decoration: underline;
  opacity: 1;
  transition: all 0.2s ease;
}

li .to-reserve {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 110px;
  height: 40px;
  font-weight: 700;
  background-color: #e4e4e4;
  color: #3b38ad;
  border: 2px solid #3b38ad;
  opacity: 1;
  transition: all 0.2s ease;
}

@media (hover: hover) {
  li .to-reserve:hover {
    background-color: #3b38ad;
    color: white;
    text-decoration: none;
  }
}

li .to-reserve:active {
  transform: translateY(8px);
}

@media (max-width: 768px) {
  .menu-svg {
    width: 32px;
    display: flex;
    z-index: 100;
  }

  svg {
    width: 32px;
    height: auto;
  }

  .menu-svg.active .hamburguer {
    display: none;
  }

  .menu-svg.active .close-icon {
    display: flex;
  }

  .links-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    position: fixed;
    top: 0;
    right: -280px;
    width: 280px;
    height: 100vh;
    background-color: white;
    padding: 3rem 2rem;
    border-left: 2px solid #3b38ad;
    transition: all 0.2s ease;
  }

  .links-list.active {
    right: 0;
  }

  .links-list li {
    margin: 0;
  }

  li .to-reserve {
    margin-top: 1rem;
    width: 200px;
    align-self: center;
  }

  .links-list li a {
    font-size: 22px;
  }
}
