nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0.6rem 1.8rem;
  border-bottom: 2px solid #3b38ad;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.logo-text {
  font-weight: 700;
  font-size: 34px;
  line-height: 45px;
  text-decoration: none;
  font-family: "Playfair Display";
  color: #3b38ad;
}

.logo-text:hover {
  text-decoration: underline;
  transition: all 0.3 ease;
}

.menu-svg {
  display: none;
  background: none;
  border: none;
  color: none;
  cursor: pointer;
}

.links-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 0.2rem;
}

.link-item a {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #3b38ad;
  opacity: 0.9;
  text-decoration: none;
  padding: 0.5rem;
}

.link-item a:hover {
  text-decoration: underline;
  opacity: 1;
  transition: all 0.2s ease;
}

/* .link-item a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: rgb(51, 51, 51);
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.link-item a:hover::after {
    width: 100%;
} */

li .to-reserve {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 110px;
  height: 40px;
  background-color: #3b38ad;
  border: 2px solid #3b38ad;
  color: white;
  opacity: 1;
  transition: all .2s ease;
}

li .to-reserve:hover {
  text-decoration: none;
  width: 150px;
}

li .to-reserve:active {
  transform: translateY(8px);
}

@media (max-width: 768px) {
  .links-list {
    display: none;
  }

  .menu-svg {
    display: flex;
    background-color: #3b38ad;
    min-width: 30px;
    height: auto;
  }
}
