#rooms {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  padding: 4rem 0;
  background-color: #e4e4e4;
}

.room-type {
  margin: 3rem;
  margin-left: 5rem;
  padding: 2rem;
  width: 600px;
  display: flex;
  flex-direction: column;
}

.room-type ul {
  margin: 0 3rem;
  list-style-type: none;
}

.room-type ul li {
  font-family: "Playfair Display", Georgia, serif;
  font-size: 55px;
  font-weight: 500;
  width: auto;
  color: #3b38ad;
  opacity: .8;
  cursor: pointer;
}

@media (hover :hover) {
  .room-type ul li:hover {
    opacity: 1;
  }
}

#room-info {
  font-family: "Lato", Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #3b38ad;
  text-align: left;
  padding: 1rem;
}

.link-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  padding: 0.5rem;
  margin-top: 1.5rem;
  background-color: #3b38ad;
  color: white;
  transition: all 0.2s ease;
}

.img-div {
  width: 600px;
  height: auto;
  margin: 1rem;
}

#room-image {
  width: 100%;
  height: auto;
}

@media (width < 1200px) {
  #rooms {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .img-div {
    order: -1;
    width: 450px;
  }

  .room-type {
    margin: 1rem;
    padding: 2rem;
  }
}
